In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd

In [3]:
#importing companies data and named it company
companies = pd.read_csv(r"E:\upgrad\intro to data management\project 1\companies.txt", sep = "\t",encoding = "ANSI")
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [4]:
#encoding special character from permalink and name
companies['permalink'] = companies.permalink.str.encode('utf-8').str.decode('ascii','ignore')
companies['name'] = companies.permalink.str.encode('utf-8').str.decode('ascii','ignore')

In [5]:
#importing rounds2 data and naming it rounds2
rounds2 = pd.read_csv(r"E:\upgrad\intro to data management\project 1\rounds2.csv",sep = ",",encoding ="ANSI")
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [6]:
#encoding special character from company_permalink
rounds2['company_permalink'] = rounds2.company_permalink.str.encode('utf-8').str.decode('ascii','ignore')

In [7]:
#inspecting dataframe companies
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66368 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB

In [8]:
#inspecting rounds2 dataframe
rounds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [9]:
#column wise null percentage in companies dataframe
round(100*(companies.isnull().sum()/len(companies.index)),2)

permalink         0.00
name              0.00
homepage_url      7.62
category_list     4.74
status            0.00
country_code     10.48
state_code       12.88
region           12.10
city             12.10
founded_at       22.93
dtype: float64

In [10]:
#dropping columns from companies dataframe
companies = companies.drop(['state_code','region','city','founded_at'],axis = 1)

In [11]:
#column wise null percentage in rounds2
round(100*(rounds2.isnull().sum()/len(rounds2.index)),2)

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
dtype: float64

In [12]:
#dropping column from rounds2 dataframe
rounds2 = rounds2.drop(['funding_round_code','funded_at'],axis = 1)

In [13]:
#changing permalink to upper case
companies['permalink'] = companies['permalink'].str.upper()

In [14]:
#changing company_permalink to upper case
rounds2['company_permalink'] = rounds2['company_permalink'].str.upper()

In [15]:
#dropping duplicates value from companies and getting unique values
companies = companies.drop_duplicates()
len(companies['permalink'].unique().tolist())

66368

In [16]:
#dropping duplicates values from rounds2 and getting unique values
rounds2 = rounds2.drop_duplicates()
len(rounds2['company_permalink'].unique().tolist())

66368

In [17]:
#calculating common values from both dataframe
len(set(companies.permalink).difference(rounds2.company_permalink))

0

In [18]:
#merging both dataframe and naming it master_frame
master_frame = pd.merge(companies,rounds2,right_on = 'company_permalink',left_on= 'permalink',how ='left')
master_frame.shape

(114949, 10)

In [19]:
#dropping rows from raised_amount_usd of null values
master_frame = master_frame[~np.isnan(master_frame['raised_amount_usd'])]

In [20]:
#calculating funding round type in million dollar from master_frame
funding_by_round = master_frame.pivot_table(values = 'raised_amount_usd',index = 'funding_round_type',aggfunc = 'mean')
funding_by_round['raised_amount_usd'] = funding_by_round['raised_amount_usd'].apply(lambda x:(x/1000000))
funding_by_round['raised_amount_usd'] = funding_by_round['raised_amount_usd'].apply(lambda x:round(x,2))
funding_by_round  = funding_by_round.loc[['venture','angel','seed','private_equity']].sort_values(by= 'raised_amount_usd',ascending = False)
funding_by_round

                    raised_amount_usd
funding_round_type
private_equity                  73.31
venture                         11.75
angel                            0.96
seed                             0.72

In [21]:
#calculating top9 countries of funding type venture
top9 = master_frame.loc[(master_frame.funding_round_type == 'venture')]
top9 = top9.pivot_table(values = 'raised_amount_usd',index = 'country_code',aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)[:9]
top9 = top9.apply(lambda x:(x/1000000))
top9 = top9.apply(lambda x:round(x,2))
top9

              raised_amount_usd
country_code
USA                   422510.84
CHN                    39835.42
GBR                    20245.63
IND                    14391.86
CAN                     9583.33
FRA                     7259.54
ISR                     6907.51
DEU                     6346.96
JPN                     3363.68

In [22]:
#importing mapping files and naming it to mapping
mapping = pd.read_csv(r"E:\upgrad\intro to data management\project 1\mapping.csv")

In [23]:
#removing null value from mapping file of col category list and replacing 0 with na and in lower case
mapping = mapping[mapping.category_list.notnull()]
mapping['category_list'] = mapping['category_list'].apply(lambda x: x.replace('0','na')if ('2.0' not in x)else x)
mapping['category_list'] = mapping['category_list'].str.lower()
mapping

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
1,3d,0,0,0,0,0,1,0,0,0
2,3d printing,0,0,0,0,0,1,0,0,0
3,3d technology,0,0,0,0,0,1,0,0,0
4,accounting,0,0,0,0,0,0,0,0,1
5,active lifestyle,0,0,0,0,1,0,0,0,0
6,ad targeting,0,0,0,0,0,0,0,0,1
7,advanced materials,0,0,0,0,0,1,0,0,0
8,adventure travel,1,0,0,0,0,0,0,0,0
9,advertising,0,0,0,0,0,0,0,0,1
10,advertising exchanges,0,0,0,0,0,0,0,0,1
11,advertising networks,0,0,0,0,0,0,0,0,1
12,advertising platforms,0,0,0,0,0,0,0,0,1
13,advice,0,0,0,0,0,0,0,1,0
14,aerospace,1,0,0,0,0,0,0,0,0
15,agriculture,0,0,0,0,0,1,0,0,0
16,air pollution control,0,0,1,0,0,0,0,0,0
17,algorithms,0,0,0,0,0,0,0,1,0
18,all markets,0,0,0,0,0,0,0,1,0
19,all students,0,0,0,0,0,0,0,1,0
20,alternative medicine,0,0,0,0,1,0,0,0,0
21,alumni,0,0,0,0,0,0,0,1,0
22,analytics,0,0,0,0,0,0,0,0,1
23,android,0,0,0,0,0,0,0,0,1
24,angels,0,0,0,0,0,0,0,1,0
25,animal feed,0,0,0,0,1,0,0,0,0
26,anything capital intensive,0,0,0,0,0,0,0,0,1
27,app discovery,0,0,0,0,0,0,1,0,0
28,app marketing,0,0,0,0,0,0,1,0,0
29,app stores,0,0,0,0,0,0,1,0,0
30,application performance monitoring,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
658,usability,0,0,0,0,0,0,0,1,0
659,user experience design,0,0,0,0,0,0,0,1,0
660,user interface,0,0,0,0,0,0,0,1,0
661,utilities,0,0,0,0,0,0,0,1,0
662,vending and concessions,0,0,0,0,0,0,0,1,0
663,venture capital,0,0,0,0,0,0,0,0,1
664,veterinary,0,0,0,0,1,0,0,0,0
665,video,0,0,0,1,0,0,0,0,0
666,video conferencing,0,0,0,1,0,0,0,0,0
667,video games,0,0,0,1,0,0,0,0,0
668,video on demand,0,0,0,1,0,0,0,0,0
669,video streaming,0,0,0,1,0,0,0,0,0
670,virtual workforces,0,0,0,1,0,0,0,0,0
671,voip,0,0,0,1,0,0,0,0,0
672,waste management,0,0,1,0,0,0,0,0,0
673,watch,0,0,0,0,0,0,0,1,0
674,water,0,0,1,0,0,0,0,0,0
675,water purification,0,0,1,0,0,0,0,0,0
676,wearables,0,0,1,0,0,0,0,0,0
677,web browsers,0,0,0,0,0,0,1,0,0
678,web design,0,0,0,0,0,0,1,0,0
679,web development,0,0,0,0,0,0,0,1,0
680,web hosting,0,0,0,0,0,0,0,1,0
681,web tools,0,0,0,0,0,0,0,1,0
682,weddings,0,0,0,1,0,0,0,0,0
683,wholesale,0,0,0,0,0,0,0,1,0
684,wine and spirits,0,0,0,1,0,0,0,0,0
685,wireless,0,0,0,1,0,0,0,0,0
686,women,0,0,0,0,0,0,0,1,0
687,young adults,0,0,0,0,0,0,0,1,0

In [24]:
#primary_sector to lower case
master_frame['primary_sector'] = master_frame['category_list'].str.split('|',1).str[0]
master_frame['primary_sector'] = master_frame['primary_sector'].str.lower()

In [25]:
#extracting and mapping the main sector and primary sector from mapping
melt_data = pd.melt(mapping,id_vars = ['category_list'],var_name = 'Sectors',value_name = 'Main_sectors')

In [26]:
main_sector = melt_data.loc[melt_data.Main_sectors!=0]
master_frame['main_sector'] = master_frame.primary_sector.map(main_sector.set_index('category_list').Sectors)
master_frame

,permalink,name,homepage_url,category_list,status,country_code,company_permalink,funding_round_permalink,funding_round_type,raised_amount_usd,primary_sector,main_sector
0,/ORGANIZATION/-FAME,/Organization/-Fame,http://livfame.com,Media,operating,IND,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,media,Entertainment
2,/ORGANIZATION/-QOUNTER,/Organization/-Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,700000.0,application platforms,"News, Search and Messaging"
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/Organization/-The-One-Of-Them-Inc-,http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,3406878.0,apps,"News, Search and Messaging"
4,/ORGANIZATION/0-6-COM,/Organization/0-6-Com,http://www.0-6.com,Curated Web,operating,CHN,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,2000000.0,curated web,"News, Search and Messaging"
6,/ORGANIZATION/01GAMES-TECHNOLOGY,/Organization/01Games-Technology,http://www.01games.hk/,Games,operating,HKG,/ORGANIZATION/01GAMES-TECHNOLOGY,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,41250.0,games,Entertainment
7,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/Organization/0Ndine-Biomedical-Inc,http://ondinebio.com,Biotechnology,operating,CAN,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,43360.0,biotechnology,Cleantech / Semiconductors
8,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/Organization/0Ndine-Biomedical-Inc,http://ondinebio.com,Biotechnology,operating,CAN,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,719491.0,biotechnology,Cleantech / Semiconductors
9,/ORGANIZATION/0XDATA,/Organization/0Xdata,http://h2o.ai/,Analytics,operating,USA,/ORGANIZATION/0XDATA,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,3000000.0,analytics,"Social, Finance, Analytics, Advertising"
10,/ORGANIZATION/0XDATA,/Organization/0Xdata,http://h2o.ai/,Analytics,operating,USA,/ORGANIZATION/0XDATA,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,20000000.0,analytics,"Social, Finance, Analytics, Advertising"
11,/ORGANIZATION/0XDATA,/Organization/0Xdata,http://h2o.ai/,Analytics,operating,USA,/ORGANIZATION/0XDATA,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,1700000.0,analytics,"Social, Finance, Analytics, Advertising"
12,/ORGANIZATION/0XDATA,/Organization/0Xdata,http://h2o.ai/,Analytics,operating,USA,/ORGANIZATION/0XDATA,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,8900000.0,analytics,"Social, Finance, Analytics, Advertising"
13,/ORGANIZATION/1,/Organization/1,http://whatis1.com,Mobile,operating,USA,/ORGANIZATION/1,/funding-round/03b975068632eba5bfdb937ec8c07a68,seed,150000.0,mobile,"News, Search and Messaging"
15,/ORGANIZATION/1,/Organization/1,http://whatis1.com,Mobile,operating,USA,/ORGANIZATION/1,/funding-round/e82464f22241715dd1a6c77241055ed1,seed,1000050.0,mobile,"News, Search and Messaging"
16,/ORGANIZATION/1-2-3-LISTO,/Organization/1-2-3-Listo,http://www.123listo.com,E-Commerce,operating,CHL,/ORGANIZATION/1-2-3-LISTO,/funding-round/6de4609e894495105bc791ed64361288,seed,40000.0,e-commerce,Others
20,/ORGANIZATION/1-800-DOCTORS,/Organization/1-800-Doctors,http://1800doctors.com,Health and Wellness,operating,USA,/ORGANIZATION/1-800-DOCTORS,/funding-round/9eb8c7790a0c200d79e75785d1c4aa12,convertible_note,1750000.0,health and wellness,Health
21,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,/Organization/1-800-Publicrelations-Inc-,http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,6000000.0,internet marketing,"Social, Finance, Analytics, Advertising"
22,/ORGANIZATION/1-MAINSTREAM,/Organization/1-Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,/ORGANIZATION/1-MAINSTREAM,/funding-round/b952cbaf401f310927430c97b68162ea,venture,5000000.0,apps,"News, Search and Messaging"
23,/ORGANIZATION/1-OF-99,/Organization/1-Of-99,NaN,Entertainment|Games,operating,USA,/ORGANIZATION/1-OF-99,/funding-round/b5c811f561cfb5701cd5b1762120bbc3,convertible_note,100000.0,entertainment,Entertainment
24,/ORGANIZATION/10-20-MEDIA,/Organization/10-20-Media,http://www.10-20media.com,E-Commerce,operating,USA,/ORGANIZATION/10-20-MEDIA,/funding-round/436874dc54b54460f99f44c06e50990a,debt_financing,800000.0,e-commerce,Others
25,/ORGANIZATION/10-20-MEDIA,/Organization/10-20-Media,http://www.10-20media.com,E-Commerce,operating,USA,/ORGANIZATION/10-20-MEDIA,/funding-round/8025ee9c11a586eac4a234ddec7beb30,debt_financing,500000.0,e-commerce,Others
26,/ORGANIZATION/10-20-MEDIA,/Organization/10-20-Media,http://www.10-20media.com,E-Commerce,operating,USA,/ORGANIZATION/10-20-MEDIA,/funding-round/a884bf8326b9fd59789c0f74a28dbc3b,debt_financing,500000.0,e-commerce,Others
27,/ORGANIZATION/10-20-MEDIA,/Organization/10-20-Media,http://www.10-20media.com,E-Commerce,operating,USA,/ORGANIZATION/10-20-MEDIA,/funding-round/d205f5416ce55e126beda3ed2bf2c2cd,debt_financing,250000.0,e-commerce,Others
28,/ORGANIZATION/10-MINUTES-WITH,/Organization/10-Minutes-With,http://10minuteswith.com,Education,operating,GBR,/ORGANIZATION/10-MINUTES-WITH,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,4000000.0,education,Others
29,/ORGANIZATION/10-MINUTES-WITH,/Organization/10-Minutes-With,http://10minuteswith.com,Education,operating,GBR,/ORGANIZATION/10-MINUTES-WITH,/funding-round/f245a74b4c54610ae843e17bdf4d1113,seed,400000.0,education,Others
30,/ORGANIZATION/1000-CORKS,/Organization/1000-Corks,http://1000corks.com,Search,operating,USA,/ORGANIZATION/1000-CORKS,/funding-round/8f4fa70e24269ddd8bdf6658906b356b,seed,40000.0,search,"News, Search and Messaging"
31,/ORGANIZATION/1000-MARKETS,/Organization/1000-Markets,http://www.1000markets.com,Art|E-Commerce|Marketplaces,acquired,USA,/ORGANIZATION/1000-MARKETS,/funding-round/ce6749b6441f52ccaf38b6d5578779fd,seed,500000.0,art,Entertainment
32,/ORGANIZATION/1000CHI,/Organization/1000Chi,http://www.1000chi.com/,Mobile,operating,NaN,/ORGANIZATION/1000CHI,/funding-round/854fae13c5b26b2ea6b32b06c2e5890c,angel,43923865.0,mobile,"News, Search and Messaging"
34,/ORGANIZATION/1000MEMORIES,/Organization/1000Memories,http://1000memories.com,Curated Web,acquired,USA,/ORGANIZATION/1000MEMORIES,/funding-round/502bd0e50c27616995e4bdad24605ef8,venture,2520000.0,curated web,"News, Search and Messaging"
35,/ORGANIZATION/1000MEMORIES,/Organization/1000Memories,http://1000memories.com,Curated Web,acquired,USA,/ORGANIZATION/1000MEMORIES,/funding-round/f5fb428ed1e63321f88b3e646ba85f00,seed,15000.0,curated web,"News, Search and Messaging"
36,/ORGANIZATION/1000MUSEUMS-COM,/Organization/1000Museums-Com,http://www.1000museums.com,Curated Web,operating,USA,/ORGANIZATION/1000MUSEUMS-COM,/funding-round/01c1aa44619ae45a16e3098fc73facfa,debt_financing,647879.0,curated web,"News, Search and Messaging"
...,...,...,...,...,...,...,...,...,...,...,...,...
114917,/ORGANIZATION/ZYNSTRA,/Organization/Zynstra,http://www.zynstra.com,Software,operating,GBR,/ORGANIZATION/ZYNSTRA,/funding-round/129127802dd48be42d6cd45f65895245,venture,3800000.0,software,Others
114918,/ORGANIZATION/ZYNSTRA,/Organization/Zynstra,http://www.zynstra.com,Software,operating,GBR,/ORGANIZATION/ZYNSTRA,/funding-round/6c01f0a76c1341118d63b670ac841bd9,seed,225000.0,software,Others
114919,/ORGANIZATION/ZYNSTRA,/Organization/Zynstra,http://www.zynstra.com,Software,operating,GBR,/ORGANIZATION/ZYNSTRA,/funding-round/dee233b3434185c14b3352034f72d798,angel,2325000.0,software,Others
114920,/ORGANIZATION/ZYOMYX-INC,/Organization/Zyomyx-Inc,http://www.zyomyx.com,Biotechnology,operating,USA,/ORGANIZATION/ZYOMYX-INC,/funding-round/4191cb5258d3863b0212d1083881da64,venture,12000000.0,biotechnology,Cleantech / Semiconductors
114921,/ORGANIZATION/ZYOMYX-INC,/Organization/Zyomyx-Inc,http://www.zyomyx.com,Biotechnology,operating,USA,/ORGANIZATION/ZYOMYX-INC,/funding-round/85443f5438bfd50104b9591eabc95c94,grant,7500000.0,biotechnology,Cleantech / Semiconductors
114922,/ORGANIZATION/ZYOMYX-INC,/Organization/Zyomyx-Inc,http://www.zyomyx.com,Biotechnology,operating,USA,/ORGANIZATION/ZYOMYX-INC,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,14219999.0,biotechnology,Cleantech / Semiconductors
114923,/ORGANIZATION/ZYOMYX-INC,/Organization/Zyomyx-Inc,http://www.zyomyx.com,Biotechnology,operating,USA,/ORGANIZATION/ZYOMYX-INC,/funding-round/ea5b21da6cf999ff4d5667431fe318d7,venture,555016.0,biotechnology,Cleantech / Semiconductors
114924,/ORGANIZATION/ZYPE,/Organization/Zype,http://www.zype.com,Cloud Computing|Mobile Advertising|Video|Video...,operating,USA,/ORGANIZATION/ZYPE,/funding-round/24e8134882bf6c4dcc385abba0acd5d9,seed,1700000.0,cloud computing,"News, Search and Messaging"
114925,/ORGANIZATION/ZYPE,/Organization/Zype,http://www.zype.com,Cloud Computing|Mobile Advertising|Video|Video...,operating,USA,/ORGANIZATION/ZYPE,/funding-round/c9f5097b3617c7539aa47c8b448163be,seed,1600000.0,cloud computing,"News, Search and Messaging"
114926,/ORGANIZATION/ZYPSEE,/Organization/Zypsee,http://whisk.me,Public Transportation,operating,USA,/ORGANIZATION/ZYPSEE,/funding-round/472c6f7940522552fcca465b8cd3deef,seed,2150000.0,public transportation,Health
114928,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/Organization/Zyraz-Technology,http://www.zyraz.com,Biotechnology,closed,MYS,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/funding-round/3c3ae0f177e01a04deea811e1828be35,private_equity,20967.0,biotechnology,Cleantech / Semiconductors
114929,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/Organization/Zyraz-Technology,http://www.zyraz.com,Biotechnology,closed,MYS,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/funding-round/55f33b179dd6f4516315348c1e8350c6,angel,2007363.0,biotechnology,Cleantech / Semiconductors
114930,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/Organization/Zyraz-Technology,http://www.zyraz.com,Biotechnology,closed,MYS,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/funding-round/c05aab2155e390066d51c6852ff61464,grant,5400000.0,biotechnology,Cleantech / Semiconductors
114931,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/Organization/Zyraz-Technology,http://www.zyraz.com,Biotechnology,closed,MYS,/ORGANIZATION/ZYRAZ-TECHNOLOGY,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,7991547.0,biotechnology,Cleantech / Semiconductors
114932,/ORGANIZATION/ZYRRA,/Organization/Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,/ORGANIZATION/ZYRRA,/funding-round/2a13fa52848ace2760b224a350a76b40,seed,445000.0,e-commerce,Others
114933,/ORGANIZATION/ZYRRA,/Organization/Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,/ORGANIZATION/ZYRRA,/funding-round/39baf35e59eb3efc5409cd4c5eaa50e1,seed,50000.0,e-commerce,Others
114934,/ORGANIZATION/ZYRRA,/Organization/Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,/ORGANIZATION/ZYRRA,/funding-round/7a0fa791c96c9c447ee54662395beab9,venture,140500.0,e-commerce,Others
114935,/ORGANIZATION/ZYRRA,/Organization/Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,/ORGANIZATION/ZYRRA,/funding-round/cc8cd96a500332d5b4f4bcbddb306099,angel,875000.0,e-commerce,Others
114936,/ORGANIZATION/ZYSTOR,/Organization/Zystor,http://www.zystor.com,Biotechnology,acquired,USA,/ORGANIZATION/ZYSTOR,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,8500000.0,biotechnology,Cleantech / Semiconductors
114937,/ORGANIZATION/ZYTOPROTEC,/Organization/Zytoprotec,http://www.zytoprotec.com,Biotechnology,operating,AUT,/ORGANIZATION/ZYTOPROTEC,/funding-round/0c43e717298296d2fb334fb236300f6e,venture,2686600.0,biotechnology,Cleantech / Semiconductors
114938,/ORGANIZATION/ZZISH,/Organization/Zzish,http://www.zzish.com,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR,/ORGANIZATION/ZZISH,/funding-round/34b560f672bebeb339a5efa3b27eae5d,grant,400000.0,analytics,"Social, Finance, Analytics, Advertising"
114939,/ORGANIZATION/ZZISH,/Organization/Zzish,http://www.zzish.com,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR,/ORGANIZATION/ZZISH,/funding-round/4c82e18a8e3eab2647719d0fc27ead5f,angel,400000.0,analytics,"Social, Finance, Analytics, Advertising"
114940,/ORGANIZATION/ZZISH,/Organization/Zzish,http://www.zzish.com,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR,/ORGANIZATION/ZZISH,/funding-round/73721fffc980d228f051e87422aa8732,seed,320000.0,analytics,"Social, Finance, Analytics, Advertising"
114941,/ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...,/Organization/Zznode-Science-And-Technology-Co...,http://www.zznode.com,Enterprise Software,operating,CHN,/ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...,/funding-round/171693e1e07e0230defd8fddb6de4515,venture,1587301.0,enterprise software,Others
114942,/ORGANIZATION/ZZZZAPP-COM,/Organization/Zzzzapp-Com,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,/ORGANIZATION/ZZZZAPP-COM,/funding-round/22ef2fafb4d20ac3aa4b86143dbf6c8e,seed,7000.0,advertising,"Social, Finance, Analytics, Advertising"
114943,/ORGANIZATION/ZZZZAPP-COM,/Organization/Zzzzapp-Com,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,/ORGANIZATION/ZZZZAPP-COM,/funding-round/6ba41360588bc6e3f77e9b50a0ebfafa,seed,33149.0,advertising,"Social, Finance, Analytics, Advertising"
114944,/ORGANIZATION/ZZZZAPP-COM,/Organization/Zzzzapp-Com,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,/ORGANIZATION/ZZZZAPP-COM,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,41313.0,advertising,"Social, Finance, Analytics, Advertising"
114945,/ORGANIZATION/ZZZZAPP-COM,/Organization/Zzzzapp-Com,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,32842.0,advertising,"Social, Finance, Analytics, Advertising"
114947,/ORGANIZATION/ASYS-2,/Organization/Asys-2,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,/ORGANIZATION/ASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,18192.0,consumer electronics,Manufacturing
114948,/ORGANIZATION/NOVATIFF-REKLAM-VE-TANTM-HIZMETL...,/Organization/Novatiff-Reklam-Ve-TanTM-Hizmetl...,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,/ORGANIZATION/NOVATIFF-REKLAM-VE-TANTM-HIZMETL...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,14851.0,consumer goods,Manufacturing

In [27]:
#creating a new data frame D1 
D1 = master_frame.loc[(master_frame.funding_round_type == 'venture') & (master_frame.country_code == 'USA') &(master_frame.raised_amount_usd >= 5000000) & (master_frame.raised_amount_usd <= 15000000)]
D1['raised_amount_usd'] = D1['raised_amount_usd'].apply(lambda x: x/1000000)
D1['raised_amount_usd'] = D1['raised_amount_usd'].apply(lambda x: round(x,2))

In [28]:
#now calculating sum of investment and no of investment in main sectors and renaming col
D1_count_investment_sector = D1.pivot_table(values = 'raised_amount_usd',index = 'main_sector',aggfunc = 'count')
D1_count_investment_sector = D1_count_investment_sector.rename(columns = {'raised_amount_usd' : 'count_investment_sector'})
D1_sum_investment_sector = D1.pivot_table(values =  'raised_amount_usd',index = 'main_sector',aggfunc = 'sum')
D1_sum_investment_sector = D1_sum_investment_sector.rename(columns ={'raised_amount_usd' : 'sum_investment_sector'})

In [29]:
#merging to D1 
D1 = pd.merge(D1,D1_count_investment_sector,how = 'inner',on = 'main_sector')
D1 = pd.merge(D1,D1_sum_investment_sector,how = 'inner', on = 'main_sector')

In [30]:
#creating a new data frame D1 and counting total investment and sum of investment
D2 = master_frame.loc[(master_frame.funding_round_type == 'venture') & (master_frame.country_code == 'GBR') &(master_frame.raised_amount_usd >= 5000000) & (master_frame.raised_amount_usd <= 15000000)]
D2['raised_amount_usd'] = D2['raised_amount_usd'].apply(lambda x: x/1000000)
D2['raised_amount_usd'] = D2['raised_amount_usd'].apply(lambda x: round(x,2))

In [31]:
#now calculating sum of investment and no of investment in main sectors and renaming col
D2_count_investment_sector = D2.pivot_table(values = 'raised_amount_usd',index = 'main_sector',aggfunc = 'count')
D2_count_investment_sector = D2_count_investment_sector.rename(columns = {'raised_amount_usd' : 'count_investment_sector'})
D2_sum_investment_sector = D2.pivot_table(values =  'raised_amount_usd',index = 'main_sector',aggfunc = 'sum')
D2_sum_investment_sector = D2_sum_investment_sector.rename(columns ={'raised_amount_usd' : 'sum_investment_sector'})

In [32]:
#merging to D2
D2 = pd.merge(D2,D2_count_investment_sector,how = 'inner',on = 'main_sector')
D2 = pd.merge(D2,D2_sum_investment_sector,how = 'inner', on = 'main_sector')

In [33]:
#creating a new data frame D3
D3 = master_frame.loc[(master_frame.funding_round_type == 'venture') & (master_frame.country_code == 'IND') &(master_frame.raised_amount_usd >= 5000000) & (master_frame.raised_amount_usd <= 15000000)]
D3['raised_amount_usd'] = D3['raised_amount_usd'].apply(lambda x: x/1000000)
D3['raised_amount_usd'] = D3['raised_amount_usd'].apply(lambda x: round(x,2))

In [34]:
#now calculating sum of investment and no of investment in main sectors and renaming col
D3_count_investment_sector = D3.pivot_table(values = 'raised_amount_usd',index = 'main_sector',aggfunc = 'count')
D3_count_investment_sector = D3_count_investment_sector.rename(columns = {'raised_amount_usd' : 'count_investment_sector'})
D3_sum_investment_sector = D3.pivot_table(values =  'raised_amount_usd',index = 'main_sector',aggfunc = 'sum')
D3_sum_investment_sector = D3_sum_investment_sector.rename(columns ={'raised_amount_usd' : 'sum_investment_sector'})

In [35]:
#merging to D3
D3 = pd.merge(D3,D3_count_investment_sector,how = 'inner',on = 'main_sector')
D3 = pd.merge(D3,D3_sum_investment_sector,how = 'inner', on = 'main_sector')

In [36]:
#total no.of investment in country1
D1_count_investment_sector.sum()

count_investment_sector    12063
dtype: int64

In [37]:
# total amount of investment in country1
D1_sum_investment_sector.sum()

sum_investment_sector    107757.2
dtype: float64

In [38]:
#total no. of investment in country2
D2_count_investment_sector.sum()

count_investment_sector    621
dtype: int64

In [39]:
#total amount of investment in country 2
D2_sum_investment_sector.sum()

sum_investment_sector    5379.07
dtype: float64

In [40]:
# total no. of investment in country3
D3_count_investment_sector.sum()

count_investment_sector    328
dtype: int64

In [41]:
#total amount of investment in country3
D3_sum_investment_sector.sum()

sum_investment_sector    2949.55
dtype: float64

In [42]:
#top sector no. of investment wise in country1
D1_count_investment_sector.sort_values(by = 'count_investment_sector',ascending = False)

                                         count_investment_sector
main_sector
Others                                                      2950
Social, Finance, Analytics, Advertising                     2714
Cleantech / Semiconductors                                  2350
News, Search and Messaging                                  1583
Health                                                       909
Manufacturing                                                799
Entertainment                                                591
Automotive & Sports                                          167

In [43]:
#top sector no. of investment wise in country2
D2_count_investment_sector.sort_values(by = 'count_investment_sector',ascending = False)

                                         count_investment_sector
main_sector
Others                                                       147
Social, Finance, Analytics, Advertising                      133
Cleantech / Semiconductors                                   130
News, Search and Messaging                                    73
Entertainment                                                 56
Manufacturing                                                 42
Health                                                        24
Automotive & Sports                                           16

In [44]:
#top sector no. of investment wise in country 3
D3_count_investment_sector.sort_values(by = 'count_investment_sector', ascending = False)

                                         count_investment_sector
main_sector
Others                                                       110
Social, Finance, Analytics, Advertising                       60
News, Search and Messaging                                    52
Entertainment                                                 33
Manufacturing                                                 21
Cleantech / Semiconductors                                    20
Health                                                        19
Automotive & Sports                                           13

In [45]:
#company received highest investment in top sector in country1
D1_top_company_investment = D1.loc[(D1.main_sector == 'Others')]
D1_top_company_investment = D1_top_company_investment.pivot_table(values = 'raised_amount_usd',index = 'name',aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)
D1_top_company_investment

                                               raised_amount_usd
name
/Organization/Virtustream                                  64.30
/Organization/Capella                                      54.97
/Organization/Airtight-Networks                            54.20
/Organization/Decarta                                      52.10
/Organization/Black-Duck-Software                          51.00
/Organization/Approva                                      50.10
/Organization/Five9                                        49.60
/Organization/Bit9                                         48.43
/Organization/Aryaka-Networks                              48.17
/Organization/Bti-Systems                                  48.00
/Organization/Change-Healthcare                            47.00
/Organization/Zilliant                                     45.60
/Organization/Vormetric                                    45.00
/Organization/Redfin                                       44.80
/Organization/Elemental-Technologies                       44.10
/Organization/Blazent                                      44.07
/Organization/3Vr-Security                                 44.00
/Organization/Arena-Solutions                              42.80
/Organization/Convio                                       42.75
/Organization/Taulia                                       42.50
/Organization/Colubris                                     42.00
/Organization/Storediq                                     41.84
/Organization/Appcelerator                                 41.80
/Organization/Exagrid-Systems                              41.72
/Organization/Rf-Code                                      41.54
/Organization/Deliveryagent                                41.45
/Organization/Mogl                                         41.44
/Organization/Forescout                                    41.25
/Organization/Emn8                                         41.20
/Organization/Sciencelogic                                 41.00
...                                                          ...
/Organization/Quiet-Logistics                               5.00
/Organization/Qualaroo                                      5.00
/Organization/Pure-Storage                                  5.00
/Organization/Lore                                          5.00
/Organization/Cx                                            5.00
/Organization/Rubicon-Global                                5.00
/Organization/Level                                         5.00
/Organization/Safe-Technologies-International               5.00
/Organization/Uxpin                                         5.00
/Organization/Inventables                                   5.00
/Organization/Sendgrid                                      5.00
/Organization/Hotchalk                                      5.00
/Organization/Clarus-Systems                                5.00
/Organization/Urban-Remedy                                  5.00
/Organization/Urbanbound                                    5.00
/Organization/Seismo-Shelf                                  5.00
/Organization/Clear-Shape-Technologies                      5.00
/Organization/Seed-2                                        5.00
/Organization/Secureinfo                                    5.00
/Organization/Safeharbor-Technology                         5.00
/Organization/Seamlessdocs                                  5.00
/Organization/Lavante                                       5.00
/Organization/Clique-Intelligence                           5.00
/Organization/Clk-Design-Automation                         5.00
/Organization/Artifact-Software                             5.00
/Organization/Arigo                                         5.00
/Organization/Sanpulse-Technologies                         5.00
/Organization/Coalfire-System                               5.00
/Organization/Gmi-Ratings                                   5.00
/Organization/Interactive-Advisory-Software                 5.00

[2049 rows x 1 columns]

In [46]:
#company received highest investment in top sector country2
D2_top_company_investment = D2.loc[(D2.main_sector == 'Others')]
D2_top_company_investment = D2_top_company_investment.pivot_table(values = 'raised_amount_usd', index = 'name', aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)
D2_top_company_investment.head()

                                       raised_amount_usd
name
/Organization/Electric-Cloud                       37.00
/Organization/Sensage                              36.25
/Organization/Enigmatic                            32.50
/Organization/Silverrail-Technologies              29.00
/Organization/Opencloud                            27.97

In [47]:
#company received highest investment in top sector country3
D3_top_company_investment = D3.loc[(D3.main_sector == 'Others')]
D3_top_company_investment = D3_top_company_investment.pivot_table(values = 'raised_amount_usd', index = 'name', aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)
D3_top_company_investment.head()

                                raised_amount_usd
name
/Organization/Firstcry-Com                   39.0
/Organization/Myntra                         38.0
/Organization/Commonfloor                    32.9
/Organization/Pepperfry-Com                  28.0
/Organization/Itzcash-Card-Ltd               25.0

In [48]:
#company received highest investment in top  2nd sector country1
D1_top_company_investment_2nd = D1.loc[(D1.main_sector == 'Social, Finance, Analytics, Advertising')]
D1_top_company_investment_2nd = D1_top_company_investment_2nd.pivot_table(values = 'raised_amount_usd', index = 'name', aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)
D1_top_company_investment_2nd.head()

                           raised_amount_usd
name
/Organization/Shotspotter              67.93
/Organization/Demandbase               63.00
/Organization/Intacct                  61.80
/Organization/Netbase                  60.60
/Organization/Lotame                   59.70

In [49]:
#company received highest investment in top  2nd sector country2
D2_top_company_investment_2nd = D2.loc[(D2.main_sector == 'Social, Finance, Analytics, Advertising')]
D2_top_company_investment_2nd = D2_top_company_investment_2nd.pivot_table(values = 'raised_amount_usd', index = 'name', aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)
D2_top_company_investment_2nd.head()

                                     raised_amount_usd
name
/Organization/Celltick-Technologies              37.50
/Organization/Mythings                           34.00
/Organization/Zopa                               32.90
/Organization/Imagini                            28.55
/Organization/Marketinvoice                      25.55

In [50]:
#company received highest investment in top  2nd sector country3
D3_top_company_investment_2nd = D3.loc[(D3.main_sector == 'Social, Finance, Analytics, Advertising')]
D3_top_company_investment_2nd = D3_top_company_investment_2nd.pivot_table(values = 'raised_amount_usd', index = 'name', aggfunc = 'sum').sort_values(by = 'raised_amount_usd',ascending = False)
D3_top_company_investment_2nd.head()

                                          raised_amount_usd
name
/Organization/Manthan-Systems                         50.70
/Organization/Komli-Media                             28.00
/Organization/Shopclues-Com                           25.00
/Organization/Intarvo                                 21.90
/Organization/Grameen-Financial-Services              21.56